{{ attach_library('appwrite_integration/appwrite-login') }}

<div class="appwrite-login-page">
  <div class="login-container">
    <!-- Message containers -->
    <div id="loading-message" class="message message--status" style="display: none;"></div>
    <div id="error-message" class="message message--error" style="display: none;"></div>
    <div id="success-message" class="message message--status" style="display: none;"></div>
  </div>
</div>