{{ attach_library('appwrite_integration/appwrite-oauth-callback') }}

<div class="appwrite-oauth-callback">
  <div id="loading-message" class="message loading-message" style="display: block;">
    <div class="loading-spinner"></div>
    Processing authentication...
  </div>
  <div id="error-message" class="message error-message" style="display: none;"></div>
  <div id="success-message" class="message success-message" style="display: none;"></div>
  
  <div class="callback-container">
    <h2>Completing Sign In</h2>
    <p>Please wait while we complete your authentication...</p>
  </div>
</div>